<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>GIF 채팅방</title>
    </head>
    <body>
        <div> F12를 눌러 console 탭과 network 탭을 확인하세요</div>
        <script>
            const webSocket = new WebSocket("ws://localhost:8005");
            webSocket.onopen = function() {
                console.log('connect');
            };
            webSocket.onmessage = function (event){
                console.log(event.data);
                webSocket.send('클라이언트에서 서버로 답장을 보냄');
            };
        </script>
    </body>
</html>